{% load staticfiles%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static "css/mylib.css" %}" type="text/css"/>
	<title>Search Author | 查询作者</title>
	
	
	<script>
		function showOrHide(id, dp){
			document.getElementById(id).style.display=dp;
		}
		function addbook(){
			window.location.href="/bookadd";
		}
	</script>
	
</head>

<body>
	<!--顶部-->
	<div id="top">
		<div id="top_bar">
			<ul>
				<li>
					<a href="/">首页</a>
				</li>
                <b>|</b>
				<li>
                    <a href="/bookshow">书香四溢</a>
                </li>
				<b>|</b>
				<li>
                    <a href="/authorshow">名家云集</a>
                </li>
			</ul>	
    	</div>
	</div>
	
	<div id="content">
         <div id="search">
            <form method="get" action="/searchauthor/">
                <input type="text" required="required" name="authorname" value="{{name}}" id="search-box"/>
                <input type="submit" value="" id="search-btn" />
            </form>
        </div>
        <hr/><br/>
		<div id="showbookorauthor">
			<table border="1" class="datalist">
				<thead>
                    <h2>该作者的作品如下</h2>
				</thead><br/>
				<tbody>
                    <tr>
                        <th class="number">序号</th>
                        <th class="bookname">书名</th>
                        <th class="author">作者</th>
                        <th class="price">价格</th>
                    </tr>
                    {%for book in books%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        {%for i in book%}
						{%ifequal forloop.counter 1%}
                        <td>《{{i}}》</td>
						{%else%}
						<td>{{i}}</td>
						{%endifequal%}
                        {%endfor%}
                    </tr>
                    {%endfor%}
                </tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
</body>
</html>